<%- include("partials/header") %>


  <center>
 
    <div ><%= city1 %><br><%= city2 %></div>
    
    
    <% Bus.forEach(function(bus){ %>
  

    <div class="containermini">
      <div class="row rowincon">
        <div ><%= bus.busnum %></div>
        <div ><%= bus.depart %></div>
        <div ><%= bus.atime %> </div>
        <div ><%= bus.price %></div>
      </div>
    </div>
    <% }); %> 

 </center>

 <%- include("partials/footer") %>