<%- include("partials/header") %>


  <center>
 
    
    
    <% Bus.forEach(function(bus){ %>
  

    <div class="containermini">
      <div class="row rowincon">
        <div ><%= bus.busnum %></div>
        <div ><%= bus.city1 %></div>
        <div ><%= bus.city2 %></div>
        <div ><%= bus.depart %></div>
        <div ><%= bus.arrive %></div>
        <div ><%= bus.atime %> </div>
        <div ><%= bus.price %>bath</div>
      </div>
    </div>
    <% }); %> 

 </center>

 <%- include("partials/footer") %>