<%- include("partials/header") %>
<style>
 /*nav bar*/
.box1 {
    width: 90%;
    margin: auto;
    }

li a {
    display: block;
    color: black;
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  .buttonlogin {
  float: right;
}
li a:hover {
    color: #2ECC71;
    } 

/*footer*/
.footer-distributed{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    font-size: 15px;
    }
    
.container2{
    margin: auto;
    padding: 20px;
    }
  
.column {
    width: 50%;
    float: left;
    }
  
.left {
    text-align: center;
    }

.right{
    text-align: center;
    }
  
.by{
    margin-top: 5px;
    background-color:#aaa;
    text-align: center;
    font-family: Oswald;
    padding: 7px;
    }


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #34495E  ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#283747   ; 
}


/*content*/
/*menuubar*/
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald";
    outline: none;
    border: none;
  }
.box2 {
    width: 90%;
    background-image: url("S__15843402.jpg");
    height: 727px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oswald;
    }
 /*progress bar*/
 .image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 15px;
}
  
/*box*/
.container {
    font-size: 17px;
    background-color: #bbbb;
    width: 500px;
    height: 435px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding : 20px;
}

.name {
    padding-top: 10px;
    margin-left: 63px;
}
.text1 {
    margin-top: 10px;
    margin-left: 30px;
}
.text2 {
    margin-top: 10px;
    margin-left: 20px;
}
.text3 {
    margin-top: 10px;
    margin-left: 38px;
}
.text4 {
    margin-top: 10px;
    margin-left: 71px;
}
.text5 {
    margin-top: 10px;
    margin-left: 66px;
}
.booking {
    margin-top: 30px;
    margin-left: 12px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.text6 {
    text-align: center;
}

.backhome{
  display: block;
  background: #F4D03F;
	padding: 14px 52px;
	border-radius: 12px;
	color: #935116   ;
	font-weight: 700;
	font-size: 17px;
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.backhome:hover {
    background-color: #F1C40F ;
  }

/*responsive*/
@media only screen and (max-width: 1024px) {
  .image{
    padding-top: 60px;
  }
  li a{
    font-size: 30px;
  }
  .box2{
    height: 1110px;
  }
  .footer-distributed{
    font-size: 20px;
    width: auto; 
  }
  .container{
    margin-top: 180px;
  }
}

@media only screen and (max-width: 768px) {
  li a {
    font-size: 20px;
    }
  .image{
    padding-top: 20px;
  }
  .box2{
    width: auto;
    height: 834px;
  }
  .box1{
    width: auto;
  }
  .footer-distributed{
    font-size: 15px;
  }
  .container{
    margin-top: 100px;
  }
}

@media only screen and (max-width: 425px) {
  .image{
    width: 100%;
    padding-top: 10px;
  }
  .box1{
    width: auto;
  }
  .footer-distributed{
    width: auto;
  }
  .box2{
    width: auto;
    height: 633px;
  }
  .container{
    width: 390px;
    height: 415px;
    padding-top: 10px;
    margin-top: 60px;
    font-size: 16px;
  }
  .backhome{
    margin-top: 15px;
    width: 60%;
  }
  .booking{
    margin-top: 20px;
    margin-left: 4px;
    text-align: center;
  }
  .name {
    margin-left: 40px;
  }
  .text1 {
    margin-left: 9px;
  }
  .text2 {
    margin-left: 0px;
  }
  .text3 {
    margin-left: 16px;
  }
  .text4 {
    margin-left: 48px;
  }
  .text5 {
    margin-left: 43px;
  }
  .text6{
    text-align: left;
  }
}

@media only screen and (max-width: 375px) {
  .box1{
    width: auto;
  }
  .box2{
    width: auto;
    height: 629px;
  }
  .footer-distributed{
    width: auto;
  }
  .container{
    width: 350px;
    height: 425px;
    margin-top: 50px;
  }
  .backhome{
    width: 65%;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .box2{
    width: auto;
    height: 525px;
  }
  .container{
    width: 295px;
    height: 400px;
    margin-top: 25px;
    padding-top: 5px;
    font-size: 15px;
  }
  .backhome{
    width: 65%;
    margin-top: 25px;
    font-size: 15px;
    padding: 14px 2px;
  }
}
</style>
<div class="box2">
        <img src="step6.png" class="image">
      <div class="container">
        <% ticket.forEach(function(ticket){ %>
        <div class="name">Name :  <%= ticket.fname %> &nbsp <%= ticket.lname %> </div>
        <div class="text1">ID Number : <%= ticket.ID %> </div>
        <div class="text2">Time Depart :  <%= ticket.date %>   <%= ticket.time %> </div>
        <div class="text3">From - To :  <%= ticket.city1%>-<%= ticket.city2 %></div>
        <div class="text4">Seat :  <%= ticket.seat %> </div>
        <div class="text5">Price :  <%= ticket.price %> </div>
        <div class="booking">Booking Complete!</div>
        <div class="text6">Please show your ID Card and this page before you take the ticket.</div>
        <% }); %> 
        <a href="/">
          <button class="backhome">Back to Home</button>
        </a>
      </div>
    </div>
    <%- include("partials/footer") %>