<%- include("partials/header") %>
<script type="text/javascript" src="/js/ta1.js" defer></script>
    
<style>
/*nav bar*/
.box1 {
    width: 90%;
    margin: auto;
    }

li a {
    display: block;
    color: black;
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  .buttonlogin {
  float: right;
}
li a:hover {
    color: #2ECC71;
    } 

/*content*/
.box2 {
    width: 90%;
    height: 700px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

/*slide show*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}



/*footer*/
.footer-distributed{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    font-size: 15px;
    margin-top: 0px;
    }
    
.container2{
    margin: auto;
    padding: 20px;
    }
  
.column {
    width: 50%;
    float: left;
    }
  
.left {
    text-align: center;
    }

.right{
    text-align: center;
    }
  
.by{
    margin-top: 5px;
    background-color:#aaa;
    text-align: center;
    font-family: Oswald;
    padding: 7px;
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #34495E  ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#283747   ; 
}

/* text */
.minibox {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 30px;
  font-family: Oswald;
}

.indent  { 
  padding-left: 30px;
  font-size: 17px; 
  padding-bottom: 30px;
  }
  
.bigtext {
  font-family: Oswald;
  text-align: center;
  font-size: 35px;
}

.headtext {
  font-size: 25px;
  margin-bottom: 15px;
}

/* booking */
.booking {
width: 30%;
background-color: #F4D03F;
color: #935116;
padding: 14px 20px;
margin-left: auto;
margin-right: auto;
display: block;
border: none;
border-radius: 12px;
cursor: pointer;
font-family: Oswald;
font-size: 17px;
text-align: center;

}

.booking:hover {
background-color: #F1C40F;
}

/*responsive*/
@media only screen and (max-width: 1024px) {
  li a{
    font-size: 30px;
  }
  .box2{
    height: 452px;
  }
  .minibox{
    width: 900px;
  }
  .footer-distributed{
    font-size: 20px;
    width: auto;
  }
  .indent{
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  li a {
    font-size: 20px;
    }
  .box1{
    width: auto;
  }
  .box2{
    width: auto;
    height: 377px;
  }
  .bigtext{
    font-size: 30px;
  }
  .minibox{
    width: 700px;
  }
  .footer-distributed{
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .box2{
    height: 208px;
  }
  .minibox{
    width: auto;
  }
  .bigtext{
    font-size: 18px;
  }
  .headtext{
    font-size: 18px;
  }
  .indent{
    font-size: 15px;
  }
  .booking {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .box2{
    height: 182px;
  }
  .bigtext{
    font-size: 17px;
  }
  .headtext{
    font-size: 16px;
  }
  .indent{
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .box2{
    height: 156px;
  }
  .bigtext{
    font-size: 14px;
  }
  .headtext{
    font-size: 14px;
  }
  .indent{
    font-size: 14px;
  }
}
</style>
<div class="box2"style="max-width:100%">
      <div class="w3-content w3-display-container">
        <img class="mySlides" src="<%= '../uploads/'+ ta.image %>" style="width:100%">
      </div>
</div>      
      <div class="minibox">
        <div class="bigtext" id="placename"><%= ta.pname %></div>
        <div class="bigtext" id="province"><%= ta.province %></div>
        <div class="headtext">Info</div>
        <div class="indent" id="info"><%= ta.info %>
        </div>
        <div class="headtext">How to go</div>
        <div class="indent" id="howtogo"><%= ta.htg %>
        </div>
        <div class="headtext">Activity</div>
        <div class="indent" id="activity"><%= ta.activity %>
        </div>
        <div class="headtext">Avialabiltity</div>
             <div class="indent" id="availability"><%= ta.availability %></div>
             <a href="/">
             <input class="booking" value="Booking">
            </a>
      </div>



         

    <%- include("partials/footer") %>